.rating-bar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}